(dp0
S'a'
p1
S'Collect Personal Information'
p2
sS'b'
p3
S'Not Collect Personal Information'
p4
sS'c'
p5
S'Data Retention Period'
p6
sS'd'
p7
S'The Purposes Of Processing'
p8
sS'e'
p9
S'The Contact Details Of The Controller'
p10
sS'f'
p11
S'The Contact Details Of The Data Protection Officer'
p12
sS'g'
p13
S'Access Personal Data'
p14
sS'h'
p15
S'Rectification Or Erasure Of Personal Data'
p16
sS'i'
p17
S'Restriction Of Processing'
p18
sS'j'
p19
S'Object To Processing'
p20
sS'k'
p21
S'Data Portability'
p22
sS'l'
p23
S'Lodge A Complaint'
p24
s.